@model List<Fiscalio.Models.NotaFiscalViewModel> // Use dynamic para representar o resultado anônimo

<h1>Lista de Notas Fiscais</h1>

<button action="@Url.Action("Cadastrar", "NotaFiscal")">Nova Nota Fiscal</button>
<br />
<table class="table" style="border: 2px solid #000; border-collapse: collapse;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Emissor</th>
            <th>Data</th>
            <th>Valor Total</th> <!-- Adicione outras colunas conforme necessário -->
        </tr>
    </thead>
    <tbody>
        @foreach (var NotaFiscal in Model)
        {
            <tr>
                <td>@NotaFiscal.NotaFiscal.IdNota</td>
                <td>@NotaFiscal.NotaFiscal.Emissor</td>
                <td>@NotaFiscal.NotaFiscal.Data</td>
                <td>@NotaFiscal.ValorTotal</td>
                <td><a href="@Url.Action("Editar", "NotaFiscal", new { id = NotaFiscal.NotaFiscal.IdNota })">Editar</a></td>
                <td><a href="@Url.Action("Deletar", "NotaFiscal", new { id = NotaFiscal.NotaFiscal.IdNota })">Excluir</a></td>

                <!-- Adicione outras colunas conforme necessário -->
            </tr>
        }
    </tbody>
</table>